*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("https://avatars.mds.yandex.net/get-pdb/1926950/bb9f80c0-d8de-45f0-866f-094609dabf6c/orig");
  background-repeat: no-repeat;
    background-size:cover;
}
.calc {
  border-radius: 15px;
  align-content: center;
  margin:2vh 35.5vw;
  background-color:white;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 90vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  margin-top: -20px;
}

.container > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(173,216,230, 0.75);
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px white;
}

.container > button:hover {
  background-color: rgba(173,195,255, 0.55);
}

.twoCells {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0,191,255,0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 15px;
}

.output .previous-result {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-result {
  color: white;
  font-size: 2.5rem;
}
.text {
  color: #1D8ECE;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: 5px;
  font-family: 'Sunshiney', cursive;
}
ghghhggh